/* ================================
   RESPONSIVE LAYOUT OVERRIDES
================================ */

/* ---------- Large Tablets & Small Laptops ---------- */
@media (max-width: 1400px) {
  .nav.left {
    left: 5%;
  }
  
  .nav.right {
    right: 5%;
  }
  
  /* Adjust circular positioning for smaller screens */
  .nav.left .star:nth-child(1) {
    top: -280px;
    left: 220px;
  }
  
  .nav.left .star:nth-child(2) {
    top: -130px;
    left: 145px;
  }
  
  .nav.left .star:nth-child(3) {
    top: 30px;
    left: 120px;
  }
  
  .nav.left .star:nth-child(4) {
    top: 180px;
    left: 200px;
  }
  
  .nav.right .star:nth-child(1) {
    top: -280px;
    right: 175px;
  }
  
  .nav.right .star:nth-child(2) {
    top: -100px;
    right: 120px;
  }
  
  .nav.right .star:nth-child(3) {
    top: 50px;
    right: 130px;
  }
  
  .nav.right .star:nth-child(4) {
    top: 180px;
    right: 175px;
  }
}

@media (max-width: 1200px) {
  .nav.left {
    left: 3%;
  }
  
  .nav.right {
    right: 3%;
  }

  .star img {
    width: 60px;
    height: 60px;
  }

  .star span {
    font-size: 13px;
  }
  
  /* Tighten circular positioning */
  .nav.left .star:nth-child(1) {
    top: -250px;
    left: 200px;
  }
  
  .nav.left .star:nth-child(2) {
    top: -120px;
    left: 130px;
  }
  
  .nav.left .star:nth-child(3) {
    top: 30px;
    left: 120px;
  }
  
  .nav.left .star:nth-child(4) {
    top: 180px;
    left: 220px;
  }
  
  .nav.right .star:nth-child(1) {
    top: -250px;
    right: 150px;
  }
  
  .nav.right .star:nth-child(2) {
    top: -100px;
    right: 100px;
  }
  
  .nav.right .star:nth-child(3) {
    top: 50px;
    right: 120px;
  }
  
  .nav.right .star:nth-child(4) {
    top: 170px;
    right: 180px;
  }
}

/* ---------- Tablets ---------- */
@media (max-width: 992px) {
  .nav.left {
    left: 2%;
  }
  
  .nav.right {
    right: 2%;
  }

  .star img {
    width: 55px;
    height: 55px;
  }

  .star span {
    font-size: 12px;
  }
  
  /* Further tighten circular positioning */
  .nav.left .star:nth-child(1) {
    top: -200px;
    left: 150px;
  }
  
  .nav.left .star:nth-child(2) {
    top: -100px;
    left: 110px;
  }
  
  .nav.left .star:nth-child(3) {
    top: 30px;
    left: 90px;
  }
  
  .nav.left .star:nth-child(4) {
    top: 150px;
    left: 170px;
  }
  
  .nav.right .star:nth-child(1) {
    top: -200px;
    right: 110px;
  }
  
  .nav.right .star:nth-child(2) {
    top: -80px;
    right: 90px;
  }
  
  .nav.right .star:nth-child(3) {
    top: 50px;
    right: 100px;
  }
  
  .nav.right .star:nth-child(4) {
    top: 150px;
    right: 140px;
  }
 
}

/* ---------- Mobile Layout ---------- */
@media (max-width: 768px) {
  .nav.left {
    left: 2%;
  }
  
  .nav.right {
    right: 2%;
  }

  .star img {
    width: 55px;
    height: 55px;
  }

  .star span {
    font-size: 12px;
  }
  
  /* Further tighten circular positioning */
  .nav.left .star:nth-child(1) {
    top: -200px;
    left: 100px;
  }
  
  .nav.left .star:nth-child(2) {
    top: -100px;
    left: 30px;
  }
  
  .nav.left .star:nth-child(3) {
    top: 0px;
    left: 10px;
  }
  
  .nav.left .star:nth-child(4) {
    top: 130px;
    left: 80px;
  }
  
  .nav.right .star:nth-child(1) {
    top: -200px;
    right: 50px;
  }
  
  .nav.right .star:nth-child(2) {
    top: -100px;
    right: 10px;
  }
  
  .nav.right .star:nth-child(3) {
    top: 0px;
    right: 10px;
  }
  
  .nav.right .star:nth-child(4) {
    top: 150px;
    right: 80px;
  }
 
}
/* ---------- Very Small Phones ---------- */
@media (max-width: 576px) {
  .nav.left {
    left: 2%;
  }
  
  .nav.right {
    right: 2%;
  }

  .star img {
    width: 55px;
    height: 55px;
  }

  .star span {
    font-size: 12px;
  }
  
  /* Further tighten circular positioning */
  .nav.left .star:nth-child(1) {
    top: -215px;
    left: 25px;
  }
  
  .nav.left .star:nth-child(2) {
    top: -100px;
    left: -10px;
  }
  
  .nav.left .star:nth-child(3) {
    top: 50px;
    left: -10px;
  }
  
  .nav.left .star:nth-child(4) {
    top: 170px;
    left: 50px;
  }
  
  .nav.right .star:nth-child(1) {
    top: -220px;
    right: -15px;
  }
  
  .nav.right .star:nth-child(2) {
    top: -100px;
    right: -10px;
  }
  
  .nav.right .star:nth-child(3) {
    top: 50px;
    right: -10px;
  }
  
  .nav.right .star:nth-child(4) {
    top: 170px;
    right: 10px;
  }
  
 .qrew-brand img {
  width: 120px;
  max-width: 30vw;
 
}

  
}
  
  .panel {
    padding: 16px;
  }
  
  .panel h2 {
    font-size: 18px;
  }
  
  .social-btn {
    padding: 10px 12px;
    font-size: 12px;
  }
}

/* ---------- Extra Small Phones ---------- */
@media (max-width: 350px) {
  .nav.left {
    left: 2%;
  }
  
  .nav.right {
    right: 2%;
  }

  .star img {
    width: 55px;
    height: 55px;
  }

  .star span {
    font-size: 12px;
  }
  
  /* Further tighten circular positioning */
  .nav.left .star:nth-child(1) {
    top: -320px;
    left: 270px;
  }
  
  .nav.left .star:nth-child(2) {
    top: -170px;
    left: 170px;
  }
  
  .nav.left .star:nth-child(3) {
    top: 0px;
    left: 120px;
  }
  
  .nav.left .star:nth-child(4) {
    top: 200px;
    left: 220px;
  }
  
  .nav.right .star:nth-child(1) {
    top: -320px;
    right: 200px;
  }
  
  .nav.right .star:nth-child(2) {
    top: -170px;
    right: 140px;
  }
  
  .nav.right .star:nth-child(3) {
    top: 0px;
    right: 120px;
  }
  
  .nav.right .star:nth-child(4) {
    top: 220px;
    right: 210px;
  }
  
 
}
