@media (max-width: 768px) {
  .nav {
    top: 15%;
    width: 100%;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-around;
    transform: none;
  }

  .nav.left, .nav.right {
    position: static;
    flex-direction: row;
  }

  .star {
    flex-direction: column !important;
    gap: 6px;
  }

  .nav-text {
    font-size: 12px;
    text-align: center;
  }

  .nav-icon {
    width: 42px;
    height: 42px;
  }

.nav-icon.videos{
  margin-left: 270px; 
  margin-bottom: 150px;
}
.nav-text.videos{
   margin-left: 0px;
  margin-bottom: 0px;
}

.nav-icon.music{
  margin-left: 0px;
  margin-bottom: 0px;
}

.nav-text.music{
  margin-left: 140px;
  margin-top: 30px;
}

.nav-icon.about{
  margin-left: 122px;
  margin-bottom: 0px;
}
.nav-text.about{
  margin-left: 190px;
  margin-top: -50px;
}

.nav-icon.shop{
  margin-left: 0px; 
  margin-bottom: 0px;

}
.nav-text.shop{
  margin-left: 220px;
        margin-top: 250px;
}

.nav-icon.quincy-vip{
  margin-left: 0px;
  margin-top: 0px;
}
.nav-text.quincy-vip{
   margin-left: 526px;
   margin-top: 26px;
}

.nav-text.yourmailinglist{
  margin-left: 570px;
  margin-top: 100px;
}
.nav-icon.yourmailinglist{
  margin-left: 0px;
  margin-bottom: 0px;
}
.nav-text.socials{
  margin-left: 570px;
  margin-top: 220px;
}

.nav-icon.socials{
  margin-left: 0px; 
  margin-bottom: 0px;
}

.nav-text.contact{
  margin-left: 500px;
  margin-top: 330px;
}
.nav-icon.contact{
   margin-left: 0px;
   margin-bottom: 0px;
}


}